@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  margin-top: 56px !important;
}
@media (max-width: 768px) {
  body {
    margin-top: 32px !important;
  }
}

#free-palestine-widget {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  width: 100%;
  height: 56px;
  background: linear-gradient(90deg, rgba(60, 128, 79, 0.1) 0%, rgba(193, 61, 68, 0.1) 94.24%);
  box-sizing: border-box;
  overflow: hidden;
  /**
   * Banner
   */
  /**
   * Stats
   */
}
#free-palestine-widget * {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}
#free-palestine-widget:before {
  content: "";
  width: 215px;
  height: 56px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(249, 236, 236, 0.5) 0%, #f4e6e6 5%, #f4e6e6);
  z-index: 1;
}
#free-palestine-widget:after {
  content: "";
  width: 15px;
  height: 100px;
  background-color: #000;
  position: absolute;
  top: -25px;
  right: 10%;
  transform: rotate(-45deg);
  z-index: 2;
}
#free-palestine-widget #free-palestine-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
#free-palestine-widget #free-palestine-banner .logo {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
}
#free-palestine-widget #free-palestine-banner .hero {
  margin-inline-start: 150px;
  font-size: 28px;
  font-weight: bold;
  color: #3C804F;
}
#free-palestine-widget #free-palestine-banner .hero .mobile {
  display: none;
}
#free-palestine-widget .stats-wrapper {
  margin-top: -2px;
  width: 45%;
  max-width: 800px;
  overflow: hidden;
  white-space: nowrap;
}
#free-palestine-widget .stats-wrapper .stats {
  display: flex;
  align-items: center;
  animation: scroll 15s 2s linear infinite;
}
#free-palestine-widget .stats-wrapper .stats .item {
  display: flex;
  margin-inline-end: 12px;
  color: #C13D44;
}
#free-palestine-widget .stats-wrapper .stats .item .icon {
  width: 37px;
  height: 37px;
}
#free-palestine-widget .stats-wrapper .stats .item .info {
  margin-inline-start: 12px;
}
#free-palestine-widget .stats-wrapper .stats .item .info .title {
  margin-bottom: -7px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
#free-palestine-widget .stats-wrapper .stats .item .info .desc {
  font-size: 18px;
}
@media (max-width: 1280px) {
  #free-palestine-widget:before {
    width: 100px;
  }
  #free-palestine-widget:after {
    right: 7%;
  }
  #free-palestine-widget .stats-wrapper {
    display: flex;
    width: 35%;
  }
}
@media (max-width: 768px) {
  #free-palestine-widget {
    height: 32px;
  }
  #free-palestine-widget:before {
    display: none;
  }
  #free-palestine-widget:after {
    display: none;
  }
  #free-palestine-widget #free-palestine-banner .logo {
    height: 32px;
  }
  #free-palestine-widget #free-palestine-banner .hero {
    font-size: 18px;
    margin-inline-start: 65px;
  }
  #free-palestine-widget #free-palestine-banner .hero .mobile {
    display: block;
  }
  #free-palestine-widget #free-palestine-banner .hero .desktop {
    display: none;
  }
  #free-palestine-widget .stats-wrapper {
    margin-top: 0;
  }
  #free-palestine-widget .stats-wrapper .stats {
    width: 750px;
    animation: scroll-responsive 15s 2s linear infinite;
  }
  #free-palestine-widget .stats-wrapper .stats .item {
    display: flex;
  }
  #free-palestine-widget .stats-wrapper .stats .item .icon {
    width: 19px;
    height: 19px;
    margin-top: 2px;
  }
  #free-palestine-widget .stats-wrapper .stats .item .info {
    display: flex;
    align-items: center;
    margin-inline-start: 3px;
  }
  #free-palestine-widget .stats-wrapper .stats .item .info .title {
    margin-bottom: 0;
  }
  #free-palestine-widget .stats-wrapper .stats .item .info .title,
  #free-palestine-widget .stats-wrapper .stats .item .info .desc {
    font-size: 18px;
  }
  #free-palestine-widget .stats-wrapper .stats .item .info .desc {
    font-weight: bold;
    margin-inline-start: 4px;
    text-transform: uppercase;
  }
  @keyframes scroll-responsive {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

#expand-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 4px 12px;
  margin: 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 24px;
  transition: all 300ms ease-in-out;
}
#expand-button:hover {
  background-color: #db0000;
}

.expandable-element {
  display: none;
  position: fixed;
  width: 100%;
  height: 0;
  top: 48px;
  left: 0;
  flex-direction: column;
  background-color: #fff;
  color: #333;
}
.expandable-element.expanded {
  display: flex;
  height: calc(100% - 48px);
}
.expandable-element .column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.expandable-element .column .title {
  text-align: center;
  width: 100%;
}
.expandable-element .column .list {
  display: flex;
  justify-content: center;
}
.expandable-element .column .list .item {
  padding: 16px;
  text-align: center;
}
.expandable-element .column .list .item .icon {
  width: 32px;
}
.expandable-element .column .list .item .number {
  font-size: 16px;
  font-weight: bold;
}

/**
 * Animations
 */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}/*# sourceMappingURL=style.css.map */