@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$free-palestine-background-color: #fff;
$free-palestine-text-color: #000;
$free-palestine-banner-height: 48px;

#free-palestine-widget {
    * {
        font-family: 'Anton', sans-serif;
        margin: 0;
        padding: 0;
    }

    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    width: 100%;
    height: 56px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 1px -10px 20px #f2f2f2;
    z-index: 2147483647; // Max. z-index value

    /**
     * Banner
     */
    #free-palestine-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $free-palestine-text-color;

        .logo {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 56px;
        }

        .hero {
            margin-inline-start: 145px;
            font-size: 28px;
            color: #009639;

            .mobile {
                display: none;
            }
        }
    }




    /**
     * Stats
     */
    .stats-wrapper {
        display: flex;
        margin-top: -2px;
        width: 45%;
        max-width: 800px;
        overflow: hidden;
        white-space: nowrap;

        .stats {
            display: flex;
            align-items: center;
            animation: palestine-widget-scroll 15s 2s linear infinite;

            .item {
                display: flex;
                align-items: center;
                margin-inline-end: 32px;
                color: #C13D44;

                .icon {
                    width: auto;
                    height: 32px;
                }

                .info {
                    margin-inline-start: 8px;

                    .title {
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }


    /**
     * CTA (Call-to-Action)
     */
    .cta {
        margin-top: -8px;
        margin-right: -8px;
        display: flex;
        align-items: center;
        height: 56px;
        padding: 8px 16px 8px 2px;

        font-size: 16px;
        letter-spacing: 0.16px;
        text-decoration: none;

        color: #fff;
        background-color: #009639;

        box-sizing: border-box;

        .hand {
            margin-top: -32px;
        }

        .arrow {
            margin-inline-start: 8px;
        }
    }

    @media (max-width: 1280px) {
        #free-palestine-banner {
            .hero {
                font-size: 18px;
                margin-inline-start: 120px;
            }
        }

        .stats-wrapper {
            display: flex;
            width: 32%;

            .stats .item {
                margin-inline-end: 12px;

                .info {
                    .title {
                        font-size: 14px;
                    }
                }
            } 
        }

        .cta {
            font-size: 12px;
        }
    }

    @media (max-width: 768px) {
        height: 32px;

        #free-palestine-banner {
            .logo {
                height: 32px;
            }

            .hero {
                font-size: 14px;
                margin-inline-start: 65px;
            }
        }

        .stats-wrapper {
            margin-top: 0;

            .stats {
                width: 750px;
                animation: palestine-widget-scroll-responsive 15s 2s linear infinite;

                .item {
                    display: flex;
                    margin-inline-end: 12px;

                    .icon {
                        width: 18px;
                        height: 18px;
                        margin-top: 2px;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        margin-inline-start: 4px;

                        .title {
                            font-size: 14px;
                        }
                    }
                }
            }

        }

        // Hide CTA
        .cta {
            display: none;
        }

        @keyframes palestine-widget-scroll-responsive {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }
}


// Expand button & element
#expand-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 4px 12px;
    margin: 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 24px;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: #db0000;
    }
}

.expandable-element {
    display: none; // Initially hidden
    position: fixed;
    width: 100%;
    height: 0;
    top: $free-palestine-banner-height;
    left: 0;
    flex-direction: column;
    background-color: $free-palestine-background-color;
    color: #333;


    &.expanded {
        display: flex;
        height: calc(100% - $free-palestine-banner-height);
    }

    .column {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        .title {
            text-align: center;
            width: 100%;
        }

        .list {
            display: flex;
            justify-content: center;

            .item {
                padding: 16px;
                text-align: center;

                .icon {
                    width: 32px;
                }

                .text {
                    // Text styles
                }

                .number {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }

    }
}


/**
 * Animations
 */
@keyframes palestine-widget-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-60%);
    }
}