@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$free-palestine-background-color: #fff;
$free-palestine-text-color: #000;
$free-palestine-banner-height: 48px;

#free-palestine-widget {
    * {
        font-family: 'Bebas Neue', sans-serif;
        margin: 0;
        padding: 0;
    }

    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    width: 100%;
    height: 56px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2147483647; // Max. z-index value

    &:before {
        content: "";
        width: 215px;
        height: 56px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #fff;
        z-index: 1;
    }

    &:after {
        content: "";
        width: 15px;
        height: 100px;
        background-color: #000;
        position: absolute;
        top: -25px;
        right: 10%;
        transform: rotate(-45deg);
        z-index: 2;
    }

    /**
     * Banner
     */
    #free-palestine-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $free-palestine-text-color;

        .logo {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 56px;
        }

        .hero {
            margin-inline-start: 150px;
            font-size: 28px;
            font-weight: bold;
            color: #3C804F;

            .mobile {
                display: none;
            }
        }
    }




    /**
     * Stats
     */
    .stats-wrapper {
        margin-top: -2px;
        width: 45%;
        max-width: 800px;
        overflow: hidden;
        white-space: nowrap;

        .stats {
            display: flex;
            align-items: center;
            animation: scroll 15s 2s linear infinite;

            .item {
                display: flex;
                margin-inline-end: 12px;
                color: #C13D44;

                .icon {
                    width: 37px;
                    height: 37px;
                }

                .info {
                    margin-inline-start: 12px;

                    .title {
                        margin-bottom: -7px; // Handle line-height difference
                        font-size: 22px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .desc {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    @media (max-width: 1280px) {
        &:before {
            width: 100px;
        }

        &:after {
            right: 7%;
        }

        .stats-wrapper {
            display: flex;
            width: 35%;
        }
    }

    @media (max-width: 768px) {
        height: 32px;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }

        #free-palestine-banner {
            .logo {
                height: 32px;
            }

            .hero {
                font-size: 18px;
                margin-inline-start: 65px;

                .mobile {
                    display: block;
                }

                .desktop {
                    display: none;
                }
            }
        }

        .stats-wrapper {
            margin-top: 0;

            .stats {
                width: 750px;
                animation: scroll-responsive 15s 2s linear infinite;

                .item {
                    display: flex;

                    .icon {
                        width: 19px;
                        height: 19px;
                        margin-top: 2px;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        margin-inline-start: 3px;

                        .title {
                            margin-bottom: 0; // Reset
                        }

                        .title,
                        .desc {
                            font-size: 18px;
                        }

                        .desc {
                            font-weight: bold;
                            margin-inline-start: 4px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

        }

        @keyframes scroll-responsive {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }
}


// Expand button & element
#expand-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 4px 12px;
    margin: 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 24px;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: #db0000;
    }
}

.expandable-element {
    display: none; // Initially hidden
    position: fixed;
    width: 100%;
    height: 0;
    top: $free-palestine-banner-height;
    left: 0;
    flex-direction: column;
    background-color: $free-palestine-background-color;
    color: #333;


    &.expanded {
        display: flex;
        height: calc(100% - $free-palestine-banner-height);
    }

    .column {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        .title {
            text-align: center;
            width: 100%;
        }

        .list {
            display: flex;
            justify-content: center;

            .item {
                padding: 16px;
                text-align: center;

                .icon {
                    width: 32px;
                }

                .text {
                    // Text styles
                }

                .number {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }

    }
}


/**
 * Animations
 */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-60%);
    }
}